.app {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content-container {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.content-container>* {
    pointer-events: auto;
}